/**
 * @file
 * Style header notes of Tripal Importer Plugin.
 */

/* Importer notes */
#tcp-header-notes {
  list-style-position: inside;
  margin: 0 0 10px 0;
}

#tcp-header-notes li {
  border-bottom: 1px solid #DADADA;
  margin: 0;
  padding: 10px 0;
}

#tcp-header-notes li:first-child {
  padding-top: 0;
}

#tcp-header-notes li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#tcp-header-notes li p {
  padding: 0;
  margin: 0;
}

/* Expandable traits window */
:root {
  --window-height: 525px;
}

#tcp-expandable-window {
  border: 1px solid #DADADA;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.tcp-window-min {
  max-height: var(--window-height);
  overflow-y: auto;
}

.tcp-window-max {
  max-height: none;
  overflow-y: visible;
}

#tcp-expandable-window > div {
  background: linear-gradient(to bottom, transparent, var(--gin-bg-layer));
  bottom: 0;
  height: 60px;
  padding: 0;
  position: sticky;
  margin: 0;
}

/* Check before uploading */
#tripal-importer-describe-file-upload > i,
#tripal-importer-describe-file-upload > span {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin: 20px 0 0 0;
}

#tripal-importer-describe-file-upload p:last-child {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

/* Window title */
#tripal-importer-describe-file-upload > p {
  position: relative;
}

#tripal-importer-describe-file-upload > p > span {
  position: absolute;
  right: 0;
}
