/**
 * @file
 * Style validation result window.
 */

/* Result window */
.tcp-result-window {
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

.tcp-result-window summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 0.5em;
}

.tcp-result-window ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tcp-result-window ul li {
  margin: 10px 0;
  padding: 0 0 2px 25px;
}

.tcp-result-window ul li p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-style: italic;
}

/* Gin Sticky table headers have a weird negative
  margin that overlays leader text in a validation item.
  This style counteracts that without overriding it. */
.tcp-result-window .gin-layer-wrapper {
  margin-block-start: var(--gin-spacing-xs);
}

/* Iconography - validation result */
.tcp-validate-todo {
  background-image: url(../images/tcp-validate-todo.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
  opacity: 0.6;
}

.tcp-validate-pass {
  background-image: url(../images/tcp-validate-pass.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

.tcp-validate-fail {
  background-image: url(../images/tcp-validate-failed.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}


/* Validation result window details wrapper. */
.tcp-result-window-details-wrapper {
  border: none;
  margin: 0;
  max-height: 200px;
  padding: 0;
  position: relative;
}

/*
 * Create a visual cue when details have more items by partially revealing
 * the last element to suggest more items if scrolled up or down.
 */
.tcp-details-scroll {
  overflow-y: auto;
}

.tcp-details-partial-reveal {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  bottom: 0;
  height: 40px;
  position: sticky;
}

/* Predefined styles applied to details when specified. */
.tcp-raw-row tbody td {
  white-space: pre;
}
